.container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.sectionTitle {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--border);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;
}

.card h3 {
    margin-bottom: 0.5rem;
}

.dates,
.address {
    font-size: 0.9rem;
    opacity: 0.8;
}

.address a {
    text-decoration: underline;
    color: hsl(var(--primary));
}